.gio-box {
  width: 400px;
  height: 200px;
  border: 3px solid #222;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  --image: url('default.jpg'); /* Imagen por defecto */
  background-image: var(--image);
}

.gioicon {
    color:transparent;
  text-align: right; 
  font:100px 'Playfair Display', serif; 
  letter-spacing:2px; 
  line-height:10px; 
  margin-top:10px; 
  margin-left:10px; 
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #ffffff;
  opacity:0.2;
  transform: rotate(0deg);
 position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  }
  
.gio-text {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 100px;
  padding-left: 10px;
  border-left: 2px solid rgba(255,255,255,0.2);
  color: #e3e3e3;
  font-family: 'Times New Roman', serif;
  font-size: 13px;
  line-height: 1.2;
  text-align: left;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);

}

.gio-text span {
  font-family: "Cinzel Decorative", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  color: #966B39;
}
