izanami-box {
  width: 400px;
  height: 200px;
  border: 1px solid #222;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  --image: url('default.jpg'); 
  background-image: var(--image);
}
.izanami-text {
  font-family: "Times New Roman", serif;
  color: #fff;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  background: transparent;
  padding: 0 10px;
}

.izanami-text span {
  font-family: 'WindSong', cursive;
  font-size: 18px;
}
