@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

.mina-tit.group {
  font-family: "Protest Revolution", system-ui, sans-serif;
  font-size: 35px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 12px;
  background: -webkit-linear-gradient(var(--groups), #e6e6e6);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}


.mina-info {
  font-family: "Spectral", serif;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 0.16em;
  text-align: center;
  margin-bottom: 18px;
  opacity: .85;
}


.mina-icon-gradient i {
  font-size: 26px;
  background: -webkit-linear-gradient(var(--groups), #e6e6e6);
  -webkit-background-clip: text;
  color: transparent;
}


.mina-phrase-box {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  font-family: "Spectral", serif;
  font-size: 12px;
  font-style: italic;
  color: #e6e6e6;
  margin: 15px auto 22px;
}

.mina-phrase-bracket {
  color: #e6e6e6;
  opacity: .8;
}


.mina-txt {
  font-family: "Spectral", serif;
  font-size: 16px;
  line-height: 1.85;
  text-align: justify;
  color: #e0dede;
}


.mina-init {
  font-family: "Protest Revolution", system-ui, sans-serif;
  font-size: 45px;
  float: left;
  margin: 4px 8px 0 0;
  background: -webkit-linear-gradient(var(--groups), #e6e6e6);
  -webkit-background-clip: text;
  color: transparent;
}
