@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

.mina-post.group {
  max-width: 435px;
  margin: 0 auto;
}

.mina-tit.group {
  font-family: "Protest Revolution", system-ui, sans-serif;
  font-size: 50px;
  letter-spacing: 0.08em;
  text-align: center;
  margin: 0 0 8px;
  padding: 25px;
  background: -webkit-linear-gradient(var(--groups), #3d3d3d);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}


.mina-meta {
  font-family: "Spectral", serif;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 0.16em;
  text-align: center;
  margin-bottom: 12px;
  color: #e6e6e6;
}

.mina-icon-gradient {
  text-align: center;
  margin: 6px 0 10px;
}
.mina-icon-gradient i {
  font-size: 65px;
  background: -webkit-linear-gradient(var(--groups), #3d3d3d);
  -webkit-background-clip: text;
  color: transparent;
}


.mina-phrase-box {
  position: relative;
  margin: 0 auto 22px;
  padding: 10px 16px;
  box-sizing: border-box;
  display: block;
  text-align: center;
  font-family: "Spectral", serif;
  font-size: 12px;
  font-style: italic;
  background: -webkit-linear-gradient(var(--groups), #e6e6e6);
}

.mina-phrase-box::before,
.mina-phrase-box::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 1px;
  background: linear-gradient(to right, #e6e6e6, transparent 40%, transparent 60%, #e6e6e6);
}

.mina-phrase-box::before { top: 0; }
.mina-phrase-box::after  { bottom: 0; }



.mina-txt {
  font-family: "Spectral", serif;
  font-size: 16px;
  line-height: 1.85;
  text-align: justify;
  color: #e6e6e6;
  padding: 15px;
}


.mina-init {
  font-family: "Protest Revolution", system-ui, sans-serif;
  font-size: 55px;
  float: left;
  margin: -5px 20px -5px 20px;
  background: -webkit-linear-gradient(var(--groups), #3d3d3d);
  -webkit-background-clip: text;
  color: transparent;
}
