@font-face {
  font-family: "Quetine";
  src: url("https://cdn.jsdelivr.net/gh/Amethystaa/Izanamicodes@516542c4083a2208aec7bb19507a587dd90a2e4d/Quetine.ttf") format("truetype");
}

#nereus .firma-wrap {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

#nereus .firma-titulo {
  width: 500px;
  font-family: 'Quetine', cursive;
  font-size: 34px;
  line-height: 1;
  text-align: center;
  margin-bottom: -8px;
  position: relative;
  z-index: 3;
  pointer-events: none;
}

#nereus .firma-imgs {
  width: 500px;
  height: 200px;
  display: flex;
  overflow: hidden;
  position: relative;
}

#nereus .col {
  height: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: .55s;
}

#nereus .left, 
#nereus .right {
  width: 125px;
}

#nereus .center {
  width: 250px;
}

#nereus .left {
  background-image: url('https://i.imgur.com/hKogS3W.png');
}

#nereus .center {
  background-image: url('https://i.imgur.com/L94WaQP.gif');
}

#nereus .right {
  background-image: url('https://i.imgur.com/DKn9UrU.png');
}

#nereus .firma-imgs:hover .left {
  background-image: url('https://i.imgur.com/7QkdbFq.png');
}

#nereus .firma-imgs:hover .center {
  background-image: url('https://i.imgur.com/TltQDet.gif');
}

#nereus .firma-imgs:hover .right {
  background-image: url('https://i.imgur.com/v8zoWmo.png');
}

#nereus .firma-texto {
  width: 500px;
  margin-top: 8px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8px;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 1.4;
}
