@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Ruthie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Homemade+Apple&family=Nothing+You+Could+Do&display=swap');



.althea-post {
  width: 420px;
  margin: auto;
  font-family: 'EB Garamond', serif;
  background-color: transparent;
  padding: 0;
}

.althea-tit {
  font-family: 'Ruthie', cursive;
  font-size: 55px;
  text-align: center;
  color: var(--groups);
  margin-bottom: 4px;
  padding-top: 30px;
}

.althea-line {
  width: 80%;
  max-width: 400px;
  height: 1px;
  background-color: var(--groups);
  margin: 0 auto 6px auto;
  opacity: 0.3;
}

.althea-name {
  font-size: 14px;
  text-align: center;
  margin-bottom: 6px;
  text-transform: uppercase;
}

.althea-frase {
  text-align: center;
  font-style: italic;
  font-size: 14px;
  opacity: 0.7;
  margin-bottom: 6px;
  line-height: 1.4;
}

.althea-icon {
  text-align: center;
  margin-bottom: 6px;
}

.althea-icon i {
  font-size: 65px;
  color: var(--groups);
  opacity: 0.6;
  display: inline-block;
}

.althea-div {
  width: 4px;
  height: 35px;
  background-color: var(--groups);
  margin: 2px auto;
  opacity: 0.3;
}

.althea-txt {
  font-size: 17.5px;
  text-align: justify;
  line-height: 1.6;
  margin-top: 16px;
}

.althea-init {
  float: left;
  font-family: 'Ruthie', cursive;
  font-size: 58px;
  line-height: 1;
  padding-right: 35px;
  padding-top: 10px;
  padding-left: 10px;
  display: block;
  color: var(--groups);
}




.asuna-post {
  width: 410px;
  margin: auto;
  font-family: 'EB Garamond', serif;
  background-color: transparent;
  padding: 0;
}

.asuna-tit {
  font-family: 'Homemade Apple', cursive;
  font-size: 42px;
  text-align: center;
  margin-bottom: 4px;
  padding-top: 10px;
   background: -webkit-linear-gradient(var(--groups), #000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  line-height: 1.2;
  overflow: visible;    
}

.asuna-line {
  width: 80%;
  max-width: 420px;
  height: 1px;
  background-color: var(--groups);
  margin: 0 auto 6px auto;
  opacity: 0.3;
}

.asuna-name {
  font-size: 14px;
  text-align: center;
  margin-bottom: 6px;
  text-transform: uppercase;
}

.asuna-frase {
  text-align: center;
  font-family: 'Nothing You Could Do', cursive;
  font-size: 16px;
  margin-bottom: 6px;
  line-height: 1.5;
  opacity: 0.9;
}

.asuna-icon {
  text-align: center;
  margin-bottom: 6px;
}

.asuna-icon i {
  font-size: 70px;
  color: var(--groups);
  opacity: 0.8;
  display: inline-block;
}

.asuna-div {
  width: 2px;
  height: 12px;
  background-color: var(--groups);
  margin: 4px auto;
  opacity: 0.3;
}

.asuna-txt {
  font-size: 16px;
  text-align: justify;
  line-height: 1.6;
  margin-top: 16px;
  overflow: visible;        
  position: relative;
  padding-top: 10px;         
}

.asuna-init {
  float: left;
  font-family: 'Homemade Apple', cursive;
  font-size: 58px;
  line-height: 1;
  padding-right: 10px;
  padding-top: 15px;
  padding-left: 15px; 
  display: block;
  background: -webkit-linear-gradient(var(--groups), #000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;  
}
