.vivifirma{
  position:relative;
  width:350px;
  height:200px;
  margin:0 auto;
  overflow:hidden;
  box-sizing:border-box;
  color:#e9e9e9;
}


.vivifirma .left,
.vivifirma .right{
  position:absolute;
  top:0;
  bottom:0;
  background-size:cover;
  background-position:center;
}


.vivifirma .left{
  left:0;
  width:150px;
}


.vivifirma .right{
  right:0;
  width:200px;
}


.vivifirma::before{
  content:"";
  position:absolute;
  inset:0;
  z-index:1;
  background:#888;
  mix-blend-mode:saturation;
  opacity:.95;
}


.vivifirma::after{
  content:"";
  position:absolute;
  inset:0;
  z-index:2;
  background:linear-gradient(180deg,#d7c7dd 10%, #91728D 65%);
  mix-blend-mode:multiply;
  opacity:1;
}


.vivifirma .frame{
  position:absolute;
  inset:8px;
  border:1px solid rgba(255,255,255,.28);
  z-index:3;
}

.vivifirma .frame::after{
  content:"";
  position:absolute;
  inset:4px;
  border:1px solid rgba(255,255,255,.38);
}


.vivifirma .icon{
  position:absolute;
  left:75px;              
  top:50%;
  transform:translate(-50%,-50%);
  z-index:4;
  mix-blend-mode:soft-light;
  opacity:1;
}

.vivifirma .icon .game-icon{
  font-size:80px;
  color:#fff;
}

.vivifirma .phrase{
  position:absolute;
  bottom:16px;
  left:50%;
  transform:translateX(-50%);
  z-index:4;
  white-space:nowrap;
  font:8.5px/1.25 "EB Garamond",serif;
  letter-spacing:.16em;
  text-transform:uppercase;
  color:#f2f2f2;
}
