@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
.firma{
  width:min(350px,100%);
  margin:0 auto;
  display:grid;
  gap:8px;
  --vino:#9e0202;
}


.firma-frame{
  display:grid;
  grid-template-columns:45% 55%;
  gap:4px;
  align-items:stretch;
}


.columna-izq{
  display:grid;
}

.panel{
  position:relative;
  margin:0;
  overflow:hidden;
}

.panel img{
  width:100%;
  height:100%;
  object-fit:cover;
  display:block;
  filter:grayscale(100%);
  transition:filter .3s ease;
}


.panel-top{ height:80px; }
.panel-bottom{ height:120px; }
.panel-right{ height:200px; } 


.panel::after{
  content:"";
  position:absolute; inset:0;
  background:var(--vino);
  mix-blend-mode:multiply;
  opacity:0;
  transition:opacity .3s ease;
}


.firma-quote{
  margin:0;
  text-align:center;
  font-size:10px;
  opacity:.9;
  text-transform: Uppercase;
  transition:opacity .25s ease;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.firma:hover .firma-quote{ opacity:0; }
.firma:hover .panel::after{ opacity:0.85; }


@media (max-width:370px){
  .firma-frame{ grid-template-columns:1fr; }
  .panel-right{ height:200px; }
  .columna-izq{ grid-template-rows:1fr 1fr; }
}
